:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .page-body {
    min-width: 768px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1288px) {
  .page-body {
    margin-right: auto;
    margin-left: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../../fonts/oswaldregular.woff2"), url("../../fonts/oswaldregular.woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../../fonts/oswaldmedium.woff2"), url("../../fonts/oswaldmedium.woff");
}
.add {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 10px 0 19px;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .add {
    grid-template-columns: 3fr 1fr auto;
    padding: 29px 39px 26px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1288px) {
  .add {
    grid-template-columns: 4fr 3fr 1fr 1fr;
    padding: 0;
  }
}

.add__name,
.add__data {
  margin: 11px 0 15px;
}
@media (min-width: 768px) {
  .add__name,
  .add__data {
    margin: 0;
  }
}

.add__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .add__title {
    grid-column: 1/2;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (min-width: 1288px) {
  .add__title {
    grid-column: 1/2;
    margin: 0;
  }
}

.add__button {
  grid-column: 1/-1;
  min-width: 100%;
}
@media (min-width: 768px) {
  .add__button {
    margin: 24px 0 0;
  }
}
@media (min-width: 1288px) {
  .add__button {
    grid-column: -1/-2;
    min-width: 244px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .add__name {
    margin-left: auto;
  }
}
@media (min-width: 1288px) {
  .add__name {
    margin: 30px 0 0;
  }
}

.add__data {
  text-align: end;
}
@media (min-width: 768px) {
  .add__data {
    margin-left: 50px;
  }
}
@media (min-width: 1288px) {
  .add__data {
    margin-top: 30px;
    margin-left: 0;
    text-align: start;
  }
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 28px 21px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .address {
    padding: 61px 70px;
    grid-gap: 0 289px;
    background-color: transparent;
  }
  .address--bg {
    background-color: #f2f2f2;
  }
}
@media (min-width: 1288px) {
  .address {
    grid-gap: 0 30px;
    padding: 66px 28px 15px 80px;
  }
}

.address__invite {
  grid-row: 1/3;
  align-self: top;
  margin: 0 18px 0 0;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
@media (min-width: 768px) {
  .address__invite {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__name,
.address__city {
  grid-column: 2/3;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .address__name,
  .address__city {
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1288px) {
  .address__name,
  .address__city {
    text-align: start;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .address__name {
    margin-bottom: 20px;
  }
}
@media (min-width: 1288px) {
  .address__name {
    margin: 0 0 15px;
  }
}

@media (min-width: 1288px) {
  .address__city {
    margin-bottom: 20px;
  }
}

.advantages__img {
  min-width: 60px;
}
@media (min-width: 768px) {
  .advantages__img {
    position: absolute;
    top: 39px;
    right: 150px;
    bottom: 160px;
    left: 0;
    min-width: 80px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
}
@media (min-width: 768px) {
  .advantages__item {
    position: relative;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .advantages__item:first-child {
    background: no-repeat url("img/card-plan-tablet-1.png") 60% 75%;
  }
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item:first-child {
    background: no-repeat url("img/card-plan-tablet-1@2x.png") 60% 75%;
  }
}

@media (min-width: 768px) {
  .advantages__item:nth-child(2) {
    background: no-repeat url("img/card-plan-tablet-2.png") 73% 75%;
  }
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item:nth-child(2) {
    background: no-repeat url("img/card-plan-tablet-2@2x.png") 73% 75%;
  }
}

@media (min-width: 768px) {
  .advantages__item:nth-child(3) {
    background: no-repeat url("img/card-plan-tablet-3.png") 73% 75%;
  }
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item:nth-child(3) {
    background: no-repeat url("img/card-plan-tablet-3@2x.png") 73% 75%;
  }
}

@media (min-width: 768px) {
  .advantages__item:nth-child(4) {
    background: no-repeat url("img/card-plan-tablet-4.png") 78% 75%;
  }
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item:nth-child(4) {
    background: no-repeat url("img/card-plan-tablet-4@2x.png") 78% 75%;
  }
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__desc {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 20px;
}
@media (min-width: 768px) {
  .advantages__desc {
    margin: 0;
    padding: 151px 62px 57px 0;
  }
}
@media (min-width: 1288px) {
  .advantages__desc {
    padding: 151px 10px 57px;
    font-size: 16px;
    line-height: 24px;
  }
}

.button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
@media (min-width: 768px) {
  .button {
    padding: 14px 26px;
    min-width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: initial;
  }
}
.button--application {
  padding: 11px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 1288px) {
  .button--application {
    font-size: 20px;
  }
}
.button--order {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .button--order {
    align-self: center;
    min-height: 39px;
    min-width: 248px;
    padding: 10px 0 0;
  }
}
@media (min-width: 768px) {
  .button--order {
    min-width: 168px;
    padding: 8px 0;
  }
}
.button--show-all {
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .button--show-all {
    min-height: 40px;
    padding: 0;
  }
}
@media (min-width: 1288px) {
  .button--show-all {
    min-width: 100px;
    padding: 10px 45px;
  }
}
@media (min-width: 768px) {
  .button--add {
    min-width: 100%;
  }
}
@media (min-width: 1288px) {
  .button--add {
    min-width: 245px;
    align-self: center;
    padding: 10px 0;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--show-all:hover {
  background-color: #eaeaea;
}

.button--show-all:active {
  color: rgba(68, 68, 68, 0.3);
}

.button--show-all:not(:hover):active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #eaeaea;
}

.card-advantages {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .card-advantages {
    padding: 0;
  }
}
@media (min-width: 1288px) {
  .card-advantages {
    padding: 0;
  }
}

.card-advantages__title {
  margin: 0;
}
@media (min-width: 768px) {
  .card-advantages__title {
    margin-bottom: 5px;
  }
}

.card-advantages__list {
  margin: 0;
  padding: 40px 0 0 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .card-advantages__list {
    display: grid;
    grid-gap: 37px 60px;
    grid-template-columns: 1fr 1fr;
    padding: 28px 0 0;
  }
}
@media (min-width: 1288px) {
  .card-advantages__list {
    grid-template-columns: repeat(4, 269px);
    grid-gap: 0 55px;
  }
}

.card-example {
  position: relative;
  padding: 24px 0 30px;
  background-color: #eaeaea;
  border-top: 2px solid #e6e6e6;
}
@media (min-width: 768px) {
  .card-example {
    padding: 42px 0 0 0;
    background: linear-gradient(#ffffff, #ffffff 57%, #eaeaea 57%);
  }
}
@media (min-width: 1288px) {
  .card-example {
    display: grid;
    grid-template-columns: 570px 650px;
    justify-content: center;
    padding: 0;
    background: linear-gradient(#ffffff 32%, #f2f2f2 32%);
    border: transparent;
  }
}

.card-example__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card-example__price-wrapper {
    flex-direction: row;
    justify-self: flex-end;
    justify-content: flex-end;
    align-content: baseline;
    margin: 0;
    max-width: 250px;
    padding-top: 8px;
    padding-right: 31px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1288px) {
  .card-example__price-wrapper {
    grid-column: 1;
    max-width: 100%;
    justify-self: stretch;
    margin-right: 0;
    padding-top: 16px;
    padding-right: 35px;
    text-align: center;
    font-size: 20px;
  }
}

.card-example__price {
  margin: 0;
}
@media (min-width: 1288px) {
  .card-example__price--value {
    margin-left: auto;
  }
}

.card-example__wrapper {
  position: relative;
  padding-bottom: 7px;
}
@media (min-width: 768px) {
  .card-example__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 53px 0 0 0;
  }
}
@media (min-width: 1288px) {
  .card-example__wrapper {
    position: static;
    grid-column: 1/-1;
    padding-top: 30px;
    padding-bottom: 65px;
  }
}

.card-example__list {
  margin: 0;
}
@media (min-width: 768px) {
  .card-example__list {
    margin: 0 0 0 30px;
  }
}
@media (min-width: 1288px) {
  .card-example__list {
    grid-column: 1;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .card-example__slider {
    grid-column: 1/-1;
  }
}
@media (min-width: 1288px) {
  .card-example__slider {
    position: absolute;
    top: 0;
    right: 0;
    grid-column: -1/-2;
  }
}

.card-example__title {
  margin: 0 20px 33px;
}
@media (min-width: 768px) {
  .card-example__title {
    margin: 0 30px 65px;
  }
}
@media (min-width: 1288px) {
  .card-example__title {
    margin: 70px 30px 147px 0;
  }
}

.card-example__desc {
  margin: 0 18px 30px 20px;
}
@media (min-width: 768px) {
  .card-example__desc {
    margin: 0 30px;
  }
}
@media (min-width: 1288px) {
  .card-example__desc {
    grid-column: 1;
    margin: 0 65px 38px 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.card-goal {
  padding: 11px 20px 17px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .card-goal {
    padding: 23px 43px 56px 54px;
  }
}
@media (min-width: 1288px) {
  .card-goal {
    padding: 31px 24px 58px 53px;
  }
}
@media (min-width: 1288px) {
  .card-goal--gain {
    padding-right: 0;
  }
}

.card-goal__icon {
  margin-left: 11px;
}
@media (min-width: 768px) {
  .card-goal__icon {
    margin-left: 19px;
  }
}

.card-goal__header {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .card-goal__header {
    align-items: flex-start;
  }
}

.card-goal__image {
  position: relative;
  margin-right: 19px;
}
@media (min-width: 768px) {
  .card-goal__image {
    position: absolute;
    right: 50px;
  }
}
@media (min-width: 1288px) {
  .card-goal__image {
    position: relative;
    order: 1;
    right: 0;
    margin: 0;
  }
}
.card-goal__image--panther {
  min-width: 65px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .card-goal__image--panther {
    right: 65px;
  }
}
@media (min-width: 1288px) {
  .card-goal__image--panther {
    right: 0;
    margin: 0;
  }
}

.card-goal__desc {
  margin: 0 0 18px;
  padding: 10px 0 24px;
  border-bottom: 2px solid #d9d9d9;
}
@media (min-width: 768px) {
  .card-goal__desc {
    margin: 0 245px 58px 0;
    padding: 0;
    border: initial;
  }
}
@media (min-width: 1288px) {
  .card-goal__desc {
    margin: 0 0 32px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .card-goal__desc--gain {
    padding-right: 33px;
  }
}
@media (min-width: 1288px) {
  .card-goal__desc--gain {
    margin-right: 32px;
  }
}

.card-goal__title {
  text-align: center;
  font-size: 24px;
  line-height: 37px;
}
@media (min-width: 768px) {
  .card-goal__title {
    order: 1;
    margin: 45px 0 25px;
    text-align: start;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1288px) {
  .card-goal__title {
    order: 2;
    text-align: center;
    margin-bottom: 74px;
    margin-left: 54px;
  }
}

.card-goal__catalog-link {
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card-goal__catalog-link {
    padding: 0;
    font-size: 20px;
    line-height: auto;
  }
}

.card-goal__catalog-link:active {
  opacity: 0.3;
}

.card-goal__svg-circle {
  margin-top: 7px;
  margin-left: 0;
  width: 50px;
  height: 60px;
}
@media (min-width: 768px) {
  .card-goal__svg-circle {
    margin-top: 38px;
    margin-left: 12px;
    width: 245px;
    height: 245px;
  }
}
@media (min-width: 1288px) {
  .card-goal__svg-circle {
    margin-top: 8px;
    margin-left: -10px;
    width: 117px;
    height: 117px;
  }
}

.card-goal__svg {
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 768px) {
  .card-goal__svg {
    position: absolute;
  }
}
.card-goal__svg--cat {
  top: 10px;
  left: 8px;
}
@media (min-width: 768px) {
  .card-goal__svg--cat {
    top: 49px;
    left: 65px;
    width: 140px;
    height: 192px;
  }
}
@media (min-width: 1288px) {
  .card-goal__svg--cat {
    top: 15px;
    left: 13px;
    width: 72px;
    height: 84px;
  }
}
.card-goal__svg--panther {
  top: 23px;
  left: -6px;
}
@media (min-width: 768px) {
  .card-goal__svg--panther {
    top: 103px;
    width: 267px;
    height: 112px;
  }
}
@media (min-width: 1288px) {
  .card-goal__svg--panther {
    top: 35px;
    left: -22px;
    width: 135px;
    height: 58px;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas: "img    img    title  title" "img    img    meta   meta" "button button button button";
  padding: 12px 20px 22px;
  border-bottom: 1px solid #eaeaea;
}
@media (min-width: 768px) {
  .card {
    grid-template-areas: "img    img    img    img" "title  title  title  title" "meta   meta   meta   meta" "button button button button";
    grid-template-rows: 242px repeat(3, auto);
    min-width: 324px;
    min-height: 511px;
    padding: 0;
    background: linear-gradient(#ffffff 20%, #f2f2f2 10%);
  }
}
@media (min-width: 1288px) {
  .card {
    min-width: 245px;
    padding-bottom: 37px;
  }
}

.card__link-img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}
@media (min-width: 768px) {
  .card__link-img {
    align-self: end;
  }
}

@media (min-width: 768px) {
  .card__img {
    width: 168px;
  }
}

.card__title {
  grid-area: title;
  margin: 0 41px 14px 0;
}
@media (min-width: 768px) {
  .card__title {
    grid-column: 2/4;
    margin: 0 0 14px;
    padding: 24px 15px 0;
    text-align: center;
  }
}
@media (min-width: 1288px) {
  .card__title {
    grid-column: 1/5;
    justify-self: center;
    max-width: 157px;
    padding: 31px 0 0;
  }
}

.card__meta {
  grid-area: meta;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .card__meta {
    margin-bottom: 32px;
    padding: 0 38px;
  }
}
@media (min-width: 1288px) {
  .card__meta {
    margin-bottom: 35px;
    padding: 0 33px 0 40px;
  }
}

.card__button {
  grid-area: button;
  margin: 6px 0 0;
}
@media (min-width: 768px) {
  .card__button {
    margin: 0 37px 40px;
  }
}
@media (min-width: 1288px) {
  .card__button {
    grid-column: 2/4;
    justify-self: center;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .card__link-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog {
  padding: 3px 0 0;
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 57px 60px;
    font-size: 16px;
  }
}
@media (min-width: 1288px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
}

.catalog__title {
  margin: 0 0 8px;
  text-align: start;
}
@media (min-width: 768px) {
  .catalog__title {
    grid-column: 1/-1;
    margin-bottom: 0;
  }
}
@media (min-width: 1288px) {
  .catalog__title {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.catalog__add {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .catalog__add {
    grid-column: 1/-1;
    padding-top: 0;
    border-top: 2px solid #68b738;
  }
}
@media (min-width: 1288px) {
  .catalog__add {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__add-header {
  display: flex;
}
@media (min-width: 768px) {
  .catalog__add-header {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: -24px 0 80px 31px;
    padding: 0 37px;
    background-color: #ffffff;
  }
}
@media (min-width: 1288px) {
  .catalog__add-header {
    margin-left: 71px;
    padding: 0 37px;
  }
}

.catalog__add-stripe {
  flex-grow: 1;
  height: 2px;
  margin-top: 15px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog__add-stripe {
    display: none;
  }
}

.catalog__add-wrapper {
  margin-bottom: 39px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .catalog__add-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 69px;
    padding: 0 30px;
  }
}
@media (min-width: 1288px) {
  .catalog__add-wrapper {
    flex-basis: 100%;
    margin: 0 80px 0 0;
    padding: 0;
  }
}

.catalog__add-title {
  flex-grow: 0;
  margin: 0 20px 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog__add-title {
    grid-column: 1/-1;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1288px) {
  .catalog__add-title {
    padding: 0;
  }
}

@media (min-width: 1288px) {
  .catalog__add-content {
    display: flex;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .catalog__add-list {
    min-width: 100%;
  }
}
@media (min-width: 1288px) {
  .catalog__add-list {
    flex-grow: 2;
  }
}

.catalog__add-offer {
  min-height: 290px;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .catalog__add-offer {
    margin: 0 30px;
  }
}
@media (min-width: 1288px) {
  .catalog__add-offer {
    flex-basis: 27%;
    flex-grow: 0;
    margin: 0;
  }
}

.catalog__add-item {
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .catalog__add-item {
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }
}
@media (min-width: 1288px) {
  .catalog__add-item {
    border-top: 1px solid #cdcdcd;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}

.catalog__add-item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.catalog__card {
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .catalog__card {
    margin-bottom: 35px;
  }
}
@media (min-width: 1288px) {
  .catalog__card {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .catalog__stock {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 60px;
    padding: 0 30px;
  }
}
@media (min-width: 1288px) {
  .catalog__stock {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 80px;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .catalog__more {
    margin-top: 106px;
  }
}
@media (min-width: 1288px) {
  .catalog__more {
    margin-bottom: 30px;
    min-width: 245px;
  }
}

.comments {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments {
    border-top: 3px solid #68b738;
  }
}

.comments__text {
  margin-right: 20px;
  padding: 6px 14px 26px;
  font-size: 16px;
  color: #444444;
  resize: vertical;
}
@media (min-width: 768px) {
  .comments__text {
    margin: 0 70px;
    padding: 10px 18px 14px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1288px) {
  .comments__text {
    width: 1220px;
    margin: 0 auto;
  }
}

.comments__header {
  display: flex;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .comments__header {
    margin-bottom: 76px;
  }
}
@media (min-width: 1288px) {
  .comments__header {
    padding: 0;
  }
}

.comments__title {
  margin: 0;
}
@media (min-width: 768px) {
  .comments__title {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: -25px;
    margin-left: 30px;
    background-color: #ffffff;
  }
}
@media (min-width: 1288px) {
  .comments__title {
    margin-left: -40px;
  }
}

.comments__stripe {
  margin-top: 15px;
  margin-left: 25px;
}
@media (min-width: 768px) {
  .comments__stripe {
    flex-grow: 17;
    margin-top: 20px;
  }
}

.copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .copy {
    padding-top: 34px;
  }
}
@media (min-width: 1288px) {
  .copy {
    justify-content: flex-end;
  }
}

.copy__icon-link:hover {
  color: #68b738;
}

.copy__icon-link:active {
  opacity: 0.3;
}

.copy__text {
  order: 1;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .copy__text {
    margin-top: 16px;
    margin-left: 37px;
  }
}

.copy__icon-link {
  order: 2;
  margin: 23px 20px;
}
@media (min-width: 768px) {
  .copy__icon-link {
    margin: 12px 0 0 23px;
  }
}

.copy__text:active {
  opacity: 0.3;
}

.data-field {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.data-field__label {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .data-field__label {
    margin-right: 18px;
  }
}
@media (min-width: 1288px) {
  .data-field__label {
    margin-right: 17px;
  }
}

.data-field__label--contact {
  margin-right: 13px;
}
@media (min-width: 768px) {
  .data-field__label--contact {
    margin-right: 17px;
  }
}

.data-field__input {
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.data-field__input-part {
  width: 100%;
  padding: 11px 10px;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .data-field__input-part {
    padding: 10px 16px;
    font-size: 20px;
  }
}

.data-field__icon {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 15px;
}
@media (min-width: 768px) {
  .data-field__icon {
    top: 16px;
    right: 17px;
  }
}

@media (min-width: 768px) {
  .data-field__input-part--contact {
    padding: 8px 23px;
  }
}
@media (min-width: 1288px) {
  .data-field__input-part--contact {
    width: 486px;
  }
}

@media (min-width: 768px) {
  .data-field__input-part--tel {
    padding-left: 17px;
  }
}
@media (min-width: 1288px) {
  .data-field__input-part--tel {
    width: 472px;
  }
}

.data-owner {
  position: relative;
  padding: 26px 0 0 22px;
}
@media (min-width: 768px) {
  .data-owner {
    padding: 0;
    border-top: 3px solid #68b738;
  }
}
@media (min-width: 1288px) {
  .data-owner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.data-owner__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .data-owner__header {
    margin-bottom: 77px;
  }
}
@media (min-width: 1288px) {
  .data-owner__header {
    padding: 0;
  }
}

.data-owner__stripe {
  flex-grow: 1;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .data-owner__stripe {
    margin-top: 20px;
  }
}

.data-owner__title {
  width: 67%;
  margin: 0;
}
@media (min-width: 768px) {
  .data-owner__title {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -23px;
    margin-left: 30px;
    background-color: #ffffff;
    padding: 0 42px 0 39px;
  }
}
@media (min-width: 1288px) {
  .data-owner__title {
    margin-left: -40px;
  }
}

.data-owner__list {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .data-owner__list {
    margin: 0 65px 0 70px;
  }
}
@media (min-width: 1288px) {
  .data-owner__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 75px;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.data-owner__item:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .data-owner__item:not(:last-child) {
    margin-bottom: 22px;
  }
}
@media (min-width: 1288px) {
  .data-owner__item:not(:last-child) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.data {
  padding: 0 20px 27px;
}
@media (min-width: 768px) {
  .data {
    padding: 0 71px 0;
  }
}
@media (min-width: 1288px) {
  .data {
    padding: 0;
  }
}

.data__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .data__list {
    margin-bottom: 70px;
  }
}
@media (min-width: 1288px) {
  .data__list {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.data__item:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .data__item:not(:last-child) {
    margin-bottom: 19px;
  }
}

.desc-text {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .desc-text {
    font-size: 14px;
    line-height: 14px;
  }
}

.example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .example {
    align-items: flex-start;
  }
}
@media (min-width: 1288px) {
  .example {
    justify-content: start;
  }
}

.example__item {
  margin-bottom: 34px;
  max-width: 124px;
  max-height: 56px;
}
@media (min-width: 768px) {
  .example__item {
    margin-right: 42px;
  }
}
@media (min-width: 1288px) {
  .example__item {
    margin-right: 0;
    margin-bottom: 42px;
  }
}

@media (min-width: 1288px) {
  .example__item:not(:last-child) {
    margin-right: 42px;
  }
}

.form {
  padding: 25px 0 0;
  font-size: 16px;
  line-height: 18px;
  border-top: 2px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form {
    padding-top: 47px;
    font-size: 20px;
  }
}
@media (min-width: 1288px) {
  .form {
    padding-top: 0;
    border-top: none;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
  }
  .form__title--comments, .form__title--additional {
    padding: 0 40px;
  }
}

.form__title-main {
  margin: 0 0 38px;
}
@media (min-width: 768px) {
  .form__title-main {
    margin-bottom: 55px;
  }
}

.form__lead {
  margin: 0 0 40px;
  font-size: 14px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__lead {
    margin: 0 230px 63px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1288px) {
  .form__lead {
    margin-bottom: 66px;
  }
}

.form__comments {
  margin-bottom: 23px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .form__comments {
    margin: 0 0 84px;
  }
}
@media (min-width: 1288px) {
  .form__comments {
    grid-column: 1/-1;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 88px;
    padding: 0;
  }
}

.form__contacts {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form__contacts {
    margin-bottom: 88px;
  }
}
@media (min-width: 1288px) {
  .form__contacts {
    grid-column: 1/-1;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.form__additional-needs {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__additional-needs {
    margin-bottom: 73px;
  }
}
@media (min-width: 1288px) {
  .form__additional-needs {
    grid-column: 1/-1;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
    padding: 0;
  }
}

@media (min-width: 1288px) {
  .form__data {
    flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  .form__options {
    margin: 0 70px 0;
  }
}
@media (min-width: 1288px) {
  .form__options {
    flex-grow: 1;
    margin: 242px 0 0 39px;
  }
}

@media (min-width: 768px) {
  .form__button-wrapper {
    display: flex;
  }
}
@media (min-width: 1288px) {
  .form__button-wrapper {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .form__wrapper-data {
    margin-bottom: 96px;
  }
}
@media (min-width: 1288px) {
  .form__wrapper-data {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 89px;
  }
}

.form__button {
  min-width: 280px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__button {
    margin: 0;
  }
}
@media (min-width: 1288px) {
  .form__button {
    min-width: 568px;
  }
}

.form__reference {
  align-self: center;
  margin: 0;
  font-size: 14px;
}
@media (min-width: 768px) {
  .form__reference {
    font-size: 16px;
  }
}

.form__stripe {
  height: 3px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__stripe {
    display: none;
  }
}

.form__input {
  border: 2px solid #f2f2f2;
}

.form__input:hover {
  border: 2px solid #cdcdcd;
  outline: none;
}

.form__input:focus {
  border: 2px solid #444444;
  outline: none;
}

.form__input:focus:invalid {
  border: 2px solid #ff8282;
  outline: none;
}

.form__input:focus + .data-field__icon {
  fill: #68b738;
  color: #68b738;
}

.form__input:focus:invalid + .data-field__icon {
  fill: #ff8282;
  color: #ff8282;
}

.goals {
  padding: 0;
}
@media (min-width: 1288px) {
  .goals {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
  }
}

.goals__item {
  margin: 20px;
}
@media (min-width: 768px) {
  .goals__item {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 1288px) {
  .goals__item {
    flex-grow: 0;
    flex-basis: 50%;
    min-width: 570px;
    margin: 0;
  }
}

@media (min-width: 1288px) {
  .goals__item:first-child {
    margin-right: 80px;
  }
}

.logo {
  padding-top: 36px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .logo {
    background-color: transparent;
  }
}

.logo__title-footer:hover {
  fill-opacity: 0.8;
}

.logo__title-footer:active {
  fill-opacity: 0.6;
}

.logo-layout {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1288px) {
  .logo-layout {
    justify-content: start;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .logo-simple-title {
    display: none;
  }
}

.main-nav {
  display: flex;
  padding-top: 13px;
}
@media (min-width: 768px) {
  .main-nav {
    padding-top: 0;
  }
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 100%;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    justify-content: flex-end;
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1288px) {
  .main-nav__list {
    font-size: 20px;
  }
}

.main-nav__item {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__item {
    display: block;
    margin: 0 36px 0 0;
  }
}
@media (min-width: 1288px) {
  .main-nav__item {
    padding: 0;
    margin: 0 0 0 35px;
    color: #ffffff;
  }
}

@media (min-width: 1288px) {
  .main-nav__item--font {
    color: #000000;
  }
}

@media (min-width: 1288px) {
  .main-nav__item--font.main-nav__item--current {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: 768px) {
  .main-nav__item:last-child {
    margin-right: 13px;
  }
}
@media (min-width: 1288px) {
  .main-nav__item:last-child {
    padding-right: 0;
  }
}

.main-nav__item:hover {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

.main-nav__item--current {
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(104, 183, 56, 0.9);
}
@media (min-width: 1288px) {
  .main-nav__item--current {
    border-bottom: 2px solid #ffffff;
  }
}

.more {
  padding: 15px 20px 25px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .more {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    align-self: start;
    padding: 52px 38px 0;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1288px) {
  .more {
    padding: 0;
  }
}

.more__vertical-line {
  display: none;
}

.more__horizontal-line {
  display: none;
}

.more__button {
  width: 100%;
}
@media (min-width: 768px) {
  .more__button {
    margin: 0 0 35px;
  }
}
@media (min-width: 1288px) {
  .more__button {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 38px;
  }
}

.more__sign {
  position: relative;
  margin: 0 auto 22px;
  height: 32px;
  width: 32px;
}
@media (min-width: 768px) {
  .more__sign {
    width: 60px;
    margin: 0 auto 49px;
    height: 60px;
  }
}
@media (min-width: 1288px) {
  .more__sign {
    margin: 56px auto 49px;
  }
}

.more__cross {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
@media (min-width: 768px) {
  .more__cross {
    width: 60px;
    height: 60px;
  }
}

.more__cross::before,
.more__cross::after {
  content: "";
  position: absolute;
  height: 33px;
  width: 2px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .more__cross::before,
  .more__cross::after {
    height: 60px;
  }
}

.more__cross::after {
  transform: rotate(90deg);
}

.more__lead {
  margin: 0 0 20px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .more__lead {
    margin-bottom: 89px;
  }
}

.more__title {
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  .more__text {
    max-width: 170px;
    padding: 0;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .more__text {
    margin: 0;
  }
}
@media (min-width: 1288px) {
  .more__text {
    max-width: 178px;
  }
}

.needs-field {
  color: #000000;
}

.needs-field__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.needs-field__label {
  margin-left: 47px;
}
@media (min-width: 768px) {
  .needs-field__label {
    margin-left: 58px;
  }
}
@media (min-width: 1288px) {
  .needs-field__label {
    margin-left: 65px;
  }
}

.needs-field__input + .needs-field__label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.needs-field__input + .needs-field__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  flex-grow: 0;
  flex-shrink: 0;
  left: 0;
  width: 2em;
  height: 2em;
  border: 2px solid #cdcdcd;
}

.needs-field__input:checked:not(:disabled) + .needs-field__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  flex-grow: 0;
  flex-shrink: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background: url("/img/checked.svg") center no-repeat;
  border: 2px solid #cdcdcd;
}

.needs-field__input:not(:disabled) + .needs-field__label:hover::before {
  border-color: #bababa;
}

.needs-field__input:disabled + .needs-field__label {
  opacity: 0.3;
}

.needs-field__input:focus + .needs-field__label {
  outline: 1px solid #444444;
}

.needs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .needs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-top: 3px solid #68b738;
  }
}

.needs__header {
  display: flex;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .needs__header {
    margin-bottom: 68px;
  }
}
@media (min-width: 1288px) {
  .needs__header {
    padding: 0;
    margin-bottom: 66px;
  }
}

.needs__footer {
  display: grid;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .needs__footer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 63px;
    margin: 0 70px;
    padding: 0;
  }
}
@media (min-width: 1288px) {
  .needs__footer {
    max-width: 1220px;
    grid-gap: 0 82px;
    margin-right: auto;
    margin-left: auto;
  }
}

.needs__stripe {
  margin-top: 15px;
  margin-left: 25px;
}

.needs__title {
  margin: 0;
}
@media (min-width: 768px) {
  .needs__title {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -22px;
    margin-left: 30px;
    background-color: #ffffff;
  }
}
@media (min-width: 1288px) {
  .needs__title {
    margin-left: -40px;
    padding: 0 40px;
  }
}

.needs__item {
  position: relative;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .needs__item {
    min-width: 50%;
  }
}
@media (min-width: 1288px) {
  .needs__item {
    flex-grow: 1;
    min-width: 0;
  }
}

.needs__item:last-child {
  margin-bottom: 0;
}

.needs__list {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .needs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 63px;
    margin-bottom: 39px;
    padding: 0 70px;
  }
}
@media (min-width: 1288px) {
  .needs__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 104px;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    padding: 0;
  }
}

.offer {
  padding: 57px 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #68b738 url("img/catalog-bg-gift.png") no-repeat center/cover;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .offer {
    background-image: url("img/catalog-bg-gift@2x.png");
  }
}
@media (min-width: 768px) {
  .offer {
    display: flex;
    justify-content: space-between;
    padding: 58px 80px 0;
    min-height: 200px;
    background: #68b738 url("img/catalog-bg-gift-tablet.png") no-repeat center/cover;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .offer {
    background-image: url("img/catalog-bg-gift-tablet@2x.png");
  }
}
@media (min-width: 1288px) {
  .offer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    background: #68b738 url("img/catalog-bg-gift-desktop.png") no-repeat center/cover;
  }
}
@media (min-width: 1288px) and (min-resolution: 144dpi), (min-width: 1288px) and (min-resolution: 1.5dppx) {
  .offer {
    background-image: url("img/catalog-bg-gift-desktop@2x.png");
  }
}

.offer__text {
  margin: 44px 50px 0;
}
@media (min-width: 768px) {
  .offer__text {
    max-width: 185px;
    margin: 14px 19px 0;
    text-align: start;
  }
}
@media (min-width: 1288px) {
  .offer__text {
    max-width: initial;
    margin: 14px 32px 0;
    text-align: center;
  }
}

@media (min-width: 1288px) {
  .offer__icon-gift {
    margin-top: 15px;
  }
}

.option-field {
  color: #222222;
}

.option-field__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.option-field__input + .option-field__label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.option-field__input + .option-field__label::before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 0.9em;
}

.option-field__input:checked + .option-field__label::before {
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #68b738;
  box-shadow: inset 0 0 0 0.5em #ffffff;
}

.option-field__input:not(:disabled) + .option-field__label:hover::before {
  border-color: #bababa;
}

.option-field__input:disabled + .option-field__label::before {
  opacity: 0.3;
}

.option-field__input:focus + .option-field__label {
  outline: 1px solid #444444;
}

.option {
  padding: 19px 20px 15px;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}
@media (min-width: 768px) {
  .option {
    padding: 25px 30px 20px;
    border: 1px solid #e6e6e6;
  }
}
@media (min-width: 1288px) {
  .option {
    padding: 25px 30px 0;
  }
}

.option__item:not(:last-child) {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .option__item:not(:last-child) {
    margin-bottom: 11px;
  }
}

.page-footer {
  padding: 0;
}
@media (min-width: 1288px) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 80px;
  }
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 45px;
  }
}
@media (min-width: 1288px) {
  .page-footer__wrapper {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 13px 0 50px;
  }
}

.page-footer__item {
  margin: auto;
}
.page-footer__item--copy {
  margin: 0;
}
@media (min-width: 768px) {
  .page-footer__item {
    text-align: center;
  }
}
@media (min-width: 1288px) {
  .page-footer__item {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .page-footer__item--logo {
    text-align: start;
    margin: 0 65px 0 0;
    padding: 52px 0 0;
  }
}

.page-footer__item--soc {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  padding: 21px 0 16px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #cdcdcd;
}
@media (min-width: 768px) {
  .page-footer__item--soc {
    margin: 0 30px;
    padding: 50px 0 10px;
    border: none;
  }
}

.page-footer__map {
  text-align: center;
  background-color: #f2f2f2;
}
@media (min-width: 1288px) {
  .page-footer__map {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
}

@media (min-width: 768px) {
  .page-footer__map-image {
    min-height: 400px;
  }
}

@media (min-width: 1288px) {
  .page-footer__address {
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 102px 0 105px auto;
    max-width: 570px;
    z-index: 10;
    background-color: #ffffff;
  }
}

.page-footer__map-iframe {
  border: none;
  width: 100%;
}
@media (min-width: 768px) {
  .page-footer__map-iframe {
    height: 400px;
  }
}

.page-footer__links {
  background-color: #f2f2f2;
}
@media (min-width: 1288px) {
  .page-footer__links {
    grid-column: 1/-1;
  }
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .page-header {
    padding: 24px 0 0;
  }
}
@media (min-width: 1288px) {
  .page-header {
    padding: 55px 0 0;
    margin: 0 0 45px;
  }
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-header__top {
    padding: 0 17px 0 30px;
  }
}
@media (min-width: 1288px) {
  .page-header__top {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media (min-width: 1288px) {
  .page-header__main-nav {
    position: static;
    margin-right: 98px;
    margin-bottom: 35px;
    flex-grow: 2;
    z-index: 100;
  }
}

.page-header__logo-simple {
  display: block;
}
@media (min-width: 768px) {
  .page-header__logo-simple {
    display: none;
  }
}

.page-header__logo-dressed {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo-dressed {
    display: inline-block;
  }
}
@media (min-width: 1288px) {
  .page-header__logo-dressed {
    min-width: 202px;
    min-height: 59px;
  }
}

@media (min-width: 768px) {
  .page-header__logo-dressed:hover {
    fill-opacity: 0.8;
  }
}

@media (min-width: 768px) {
  .page-header__logo-dressed:active {
    fill-opacity: 0.6;
  }
}

.page-header__logo-title {
  display: block;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .page-header__logo-title {
    display: none;
  }
}

.page-header__logo-title:hover {
  fill-opacity: 0.8;
}

.page-header__logo-title:active {
  fill-opacity: 0.6;
}

.page-header__logo {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .page-header__logo {
    flex-grow: 0;
  }
}
@media (min-width: 1288px) {
  .page-header__logo {
    flex-grow: 3;
  }
}

.page-header__promo {
  width: 100%;
  margin-bottom: 0;
}
@media (min-width: 1288px) {
  .page-header__promo {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-main {
  padding: 0;
}

.page-main__card {
  margin: 0 0 35px;
}
@media (min-width: 768px) {
  .page-main__card {
    margin: 0 30px 45px;
  }
}
@media (min-width: 1288px) {
  .page-main__card {
    max-width: 1220px;
    margin: 0 auto 0;
  }
}

.page-main__goals {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .page-main__goals {
    margin: 0 30px 46px;
  }
}
@media (min-width: 1288px) {
  .page-main__goals {
    max-width: 1220px;
    margin: 0 auto 73px;
  }
}

.page-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
.page-title--form, .page-title--catalog {
  color: #000000;
}
.page-title--catalog {
  padding: 23px 20px 40px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .page-title--catalog {
    padding: 46px 30px 0;
    border: none;
  }
}
@media (min-width: 1288px) {
  .page-title--catalog {
    padding: 0 790px 0 0;
  }
}

.product-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.product-title--more {
  color: #111111;
}
@media (min-width: 768px) {
  .product-title--more {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .product-title--add {
    font-size: 20px;
  }
}
@media (min-width: 1288px) {
  .product-title--add {
    padding: 26px 0;
  }
}

@media (min-width: 1288px) {
  .promo {
    padding-right: 700px;
    padding-left: 80px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1288px) {
  .promo__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 138px;
  }
}

.promo__wrapper-background {
  width: 100%;
  background-image: url("img/promo-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 302px;
  background-color: rgba(78, 54, 44, 0.9);
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo__wrapper-background {
    background-image: url("img/promo-background@2x.png");
  }
}
@media (min-width: 768px) {
  .promo__wrapper-background {
    background-image: none;
    background-color: transparent;
  }
}
@media (min-width: 1288px) {
  .promo__wrapper-background {
    flex-basis: 50%;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .promo__title {
    margin: 0 0 40px 0;
  }
}

.promo__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.promo__intro {
  padding-top: 27px;
  padding-left: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__intro {
    padding: 47px 77px 0 119px;
    text-align: initial;
  }
}
@media (min-width: 1288px) {
  .promo__intro {
    flex-basis: 50%;
    margin: 0 0 9px 0;
    padding: 82px 25px 0 0;
  }
}
.promo__intro--background {
  min-height: 302px;
  background-color: rgba(104, 183, 56, 0.9);
}
@media (min-width: 768px) {
  .promo__intro--background {
    background: transparent;
  }
}

.promo__image-can {
  align-self: center;
  margin-top: -135px;
  max-width: 280px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .promo__image-can {
    order: 2;
    max-width: 709px;
    max-height: 624px;
    margin: -83px 0 0 0;
    background: transparent;
  }
}
@media (min-width: 1288px) {
  .promo__image-can {
    position: absolute;
    width: 534px;
    height: 496px;
    top: 83px;
    left: 372px;
    z-index: -1;
  }
}

.promo__button {
  min-height: 40px;
  min-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo__button {
    min-width: 244px;
    order: 1;
    margin: -27px 0 0 114px;
    align-self: flex-start;
    opacity: 0.99;
  }
}
@media (min-width: 1288px) {
  .promo__button {
    margin: 0;
  }
}

.results {
  position: relative;
  padding: 14px 19px 0;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .results {
    min-width: 162px;
    max-height: 70px;
    padding: 15px 9px 20px;
  }
}

@media (min-width: 768px) {
  .results + .results {
    padding: 15px 10px 20px;
  }
}

.results__number {
  display: block;
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .results__number {
    margin: 0 0 4px;
    font-size: 30px;
    line-height: 37px;
  }
}

.results__desc {
  display: inline-block;
  margin-top: 0;
  padding: 0 7px;
  background-color: #e6e6e6;
}
@media (min-width: 768px) {
  .results__desc {
    padding: 0 5px;
    background-color: #ffffff;
  }
}
@media (min-width: 1288px) {
  .results__desc {
    background-color: #f2f2f2;
  }
}

@media (min-width: 768px) {
  .row__data,
  .row__name {
    border-bottom: 1px solid #cdcdcd;
  }
}

.row__data {
  text-align: right;
}

.row__name {
  padding: 2px 0;
}
@media (min-width: 768px) {
  .row__name {
    padding: 8px 0 10px;
  }
}

.slicer {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .slicer {
    padding: 8px 0 0 3px;
  }
}

.slicer__scale {
  min-width: 86px;
  height: 16px;
  margin: 4px 0 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .slicer__scale {
    min-width: 428px;
    height: 5px;
    margin: 0;
    background-color: #dcdcdc;
    border: none;
  }
}

.slicer__bar {
  width: 40%;
  height: 6px;
  margin: 4px;
  background-color: #68b738;
  border-radius: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .slicer__bar {
    display: none;
  }
}

.slicer__toggle {
  display: none;
}
@media (min-width: 768px) {
  .slicer__toggle {
    display: block;
    width: 34px;
    height: 34px;
    margin: -20px auto;
    background-color: #68b738;
    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #cdcdcd;
    cursor: pointer;
  }
}

.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .slider {
    padding-top: 50px;
    padding-bottom: 77px;
    justify-content: flex-start;
  }
}
@media (min-width: 1288px) {
  .slider {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

.slider__button {
  flex-grow: 1;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .slider__button {
    position: relative;
    padding: 0 22px;
    font-size: 20px;
  }
}
@media (min-width: 1288px) {
  .slider__button {
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 0;
  }
}
.slider__button--before {
  text-align: end;
}
@media (min-width: 768px) {
  .slider__button--before {
    margin: 0;
  }
}
@media (min-width: 1288px) {
  .slider__button--before {
    padding-right: 22px;
  }
}
.slider__button--after {
  text-align: start;
}
@media (min-width: 1288px) {
  .slider__button--after {
    padding-left: 22px;
    text-align: end;
  }
}

@media (min-width: 768px) {
  .slider__button--before::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 24px;
    width: 45px;
    height: 1px;
    border-bottom: 1px dotted #cdcdcd;
  }
}

@media (min-width: 768px) {
  .slider__button--after::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 24px;
    width: 45px;
    height: 1px;
    border-bottom: 1px dotted #cdcdcd;
  }
}

.slider__image-container {
  position: relative;
  display: block;
  width: 320px;
  height: 280px;
}
@media (min-width: 768px) {
  .slider__image-container {
    flex-basis: 50%;
    height: 620px;
    overflow: hidden;
  }
}
@media (min-width: 1288px) {
  .slider__image-container {
    overflow: hidden;
    width: 365px;
    height: 536px;
  }
}
.slider__image-container--after {
  display: none;
}
@media (min-width: 768px) {
  .slider__image-container--after {
    display: block;
    position: relative;
    width: 354px;
    overflow: hidden;
  }
}
@media (min-width: 1288px) {
  .slider__image-container--after {
    width: 220px;
  }
}

.slider__image {
  position: absolute;
  top: 8px;
  left: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .slider__image {
    top: 0;
    right: -94%;
  }
}
@media (min-width: 1288px) {
  .slider__image {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .slider__image--after {
    position: absolute;
    top: 0;
    left: -85%;
    margin: 0;
  }
}
@media (min-width: 1288px) {
  .slider__image--after {
    top: -11px;
    right: 0;
    left: -98%;
    max-width: 650px;
  }
}

@media (min-width: 768px) {
  .slider__image-wrapper {
    display: flex;
    margin: auto;
    margin-bottom: 22px;
  }
}
@media (min-width: 1288px) {
  .slider__image-wrapper {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.slider__range {
  display: flex;
  flex-basis: 100%;
  margin: auto;
}
@media (min-width: 1288px) {
  .slider__range {
    padding-top: 20px;
    justify-content: flex-end;
  }
}

.soc-button__icon:hover {
  stroke: #68b738;
}

.soc-button__icon:active {
  stroke-opacity: 0.3;
}

.soc-button__icon {
  stroke: #666666;
}
@media (min-width: 768px) {
  .soc-button__icon {
    min-width: 32px;
    min-height: 25px;
  }
}

.socials {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  margin: 0 18px;
}
@media (min-width: 768px) {
  .socials__item {
    margin: 0 9px;
  }
}

.socials__item:first-child {
  margin-left: 8px;
}
@media (min-width: 768px) {
  .socials__item:first-child {
    margin-left: 11px;
  }
}

.socials-layout {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1288px) {
  .socials-layout {
    justify-content: center;
  }
}

.table__body {
  width: 100%;
  border-collapse: collapse;
}

.title-style {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.wrapper-bg {
  margin: 0;
  padding: 0;
}
@media (min-width: 1288px) {
  .wrapper-bg {
    position: relative;
    margin-bottom: 82px;
    background: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.9) 50%), no-repeat url("/img/promo-bg-desktop.png") right/contain, linear-gradient(to right, #ffffff 50%, rgba(78, 54, 44, 0.9) 50%);
    z-index: 2;
  }
}
@media (min-width: 1288px) and (min-resolution: 144dpi), (min-width: 1288px) and (min-resolution: 1.5dppx) {
  .wrapper-bg {
    background: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.9) 50%), no-repeat url("/img/promo-bg-desktop@2x.png") right/contain, linear-gradient(to right, #ffffff 50%, rgba(78, 54, 44, 0.9) 50%);
  }
}

.body-layout {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (min-width: 1288px) {
  .form-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-layout__catalog {
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .main-layout__catalog {
    margin-bottom: 77px;
  }
}
/*# sourceMappingURL=style.css.map */
