.card-goal {
  @media (min-width: $desktop) {
    flex-basis: 40%;
  }
}

.card-goal__svg {
  @media (min-width: $tablet) {
    float: right;
    width: 10%;
    height: 100px;
  }

  @media (min-width: $desktop) {
    float: left;
    width: 20%;
  }
}
