.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address__invite {
  grid-row: 1/-1;
}

.address__name,
.address__city {
  grid-column: 2/3;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socials-layout {
  display: flex;
  flex-wrap: wrap;
}

.copy {
  display: flex;
  flex-wrap: wrap;
}
