.promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.promo__intro {
  @media (min-width: $desktop) {
    flex-basis: 50%;
  }
}

@media (min-width: $tablet) {
  .promo__image-can {
    flex-basis: 50%;
    order: 2;
  }
}
