$color-white-strong: rgba(255, 255, 255, 0.3);
$color-white-medium: rgba(255, 255, 255, 0.6);
$color-black-strong: rgba(0, 0, 0, 0.6);
$color-black-medium: rgba(0, 0, 0, 0.3);
$color-apple-medium: rgba(104, 183, 56, 0.3);

$color-black: #000;
$color-white: #FFF;
$color-gray: #111;
$color-dove-gray: #666;
$color-tundora: #444;

$color-concrete: #F2F2F2;
$color-silver: #cdcdcd;
$color-alto: #d9d9d9;
$color-galery: #eaeaea;
$color-alto-darken: #dcdcdc;
$color-apple: #68B738;
$color-green-button-hover: #5eaa2f;

