//Цвета
$color-white-strong: rgba(255, 255, 255, 0.3);
$color-white-medium: rgba(255, 255, 255, 0.6);
$color-black-strong: rgba(0, 0, 0, 0.6);
$color-black-medium: rgba(0, 0, 0, 0.3);
$color-apple-medium: rgba(104, 183, 56, 0.3);
$color-apple-promo: rgba(104, 183, 56, 0.85);
$color-bg-promo: rgba(78, 54, 44, 0.9);

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #111111;
$color-dove-gray: #666666;
$color-tundora: #444444;
$color-mine-shaft: #222222;
$color-cod-gray: #111111;

$color-concrete: #f2f2f2;
$color-silver: #cdcdcd;
$color-alto: #d9d9d9;
$color-galery: #eaeaea;
$color-alto-darken: #dcdcdc;
$color-apple: #68b738;
$color-green-button-hover: #5eaa2f;
$color-mercury: #e6e6e6;
//Размеры
$tablet: 768px;
$desktop: 1288px;
