.copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding-top: 34px;
  }

  @media (min-width: $desktop) {
    justify-content: flex-end;
  }
}

.copy__icon-link:hover {
  color: $color-apple;
}

.copy__icon-link:active {
  opacity: 0.3;
}

.copy__text {
  order: 1;
  margin-top: 30px;
  margin-left: 20px;

  font-size: 16px;
  color: $color-tundora;

  @media (min-width: $tablet) {
    margin-top: 16px;
    margin-left: 37px;
  }
}

.copy__icon-link {
  order: 2;
  margin: 23px 20px;

  @media (min-width: $tablet) {
    margin: 12px 0 0 23px;
  }
}

.copy__text:active {
  opacity: 0.3;
}
