.promo {
  @media (min-width: $desktop) {
    padding-right: 700px;
    padding-left: 80px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop) {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 138px;
  }
}

.promo__wrapper-background {
  width: 100%;
  background-image: url("/img/promo-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 302px;
  background-color: $color-bg-promo;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/img/promo-background@2x.png");
  }

  @media (min-width: $tablet) {
    background-image: none;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin: 0 0 40px 0;
  }
}

.promo__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }
}

.promo__intro {
  padding-top: 27px;
  padding-left: 0;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 47px 77px 0 119px;
    text-align: initial;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
    margin: 0 0 9px 0;
    padding: 82px 25px 0 0;
  }

  &--background {
    min-height: 302px;
    background-color: $color-apple-promo;

    @media (min-width: $tablet) {
      background: transparent;
    }
  }
}

.promo__image-can {
  align-self: center;
  margin-top: -135px;
  max-width: 280px;
  background-color: transparent;

  @media (min-width: $tablet) {
    order: 2;
    max-width: 709px;
    max-height: 624px;
    margin: -83px 0 0 0;
    background: transparent;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 534px;
    height: 496px;
    top: 83px;
    left: 372px;
    z-index: -1;
  }
}

.promo__button {
  min-height: 40px;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    min-width: 244px;
    order: 1;
    margin: -27px 0 0 114px;
    align-self: flex-start;
    opacity: 0.99;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}
