.card {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    "img    img    title  title"
    "img    img    meta   meta"
    "button button button button";
  padding: 12px 20px 22px;
  border-bottom: 1px solid $color-galery;

  @media (min-width: $tablet) {
    grid-template-areas:
      "img    img    img    img"
      "title  title  title  title"
      "meta   meta   meta   meta"
      "button button button button";
    grid-template-rows: 242px repeat(3, auto);
    min-width: 324px;
    min-height: 511px;
    padding: 0;
    background: linear-gradient($color-white 20%, $color-concrete 10%);
  }

  @media (min-width: $desktop) {
    min-width: 245px;
    padding-bottom: 37px;
  }
}

.card__link-img {
  grid-area: img;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet) {
    align-self: end;
  }
}

.card__img {
  @media (min-width: $tablet) {
    width: 168px;
  }
}

.card__title {
  grid-area: title;
  margin: 0 41px 14px 0;

  @media (min-width: $tablet) {
    grid-column: 2/4;
    margin: 0 0 14px;
    padding: 24px 15px 0;
    text-align: center;
  }

  @media (min-width: $desktop) {
    grid-column: 1/5;
    justify-self: center;
    max-width: 157px;
    padding: 31px 0 0;
  }
}

.card__meta {
  grid-area: meta;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
    padding: 0 38px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 35px;
    padding: 0 33px 0 40px;
  }
}

.card__button {
  grid-area: button;
  margin: 6px 0 0;

  @media (min-width: $tablet) {
    margin: 0 37px 40px;
  }

  @media (min-width: $desktop) {
    grid-column: 2/4;
    justify-self: center;
    margin: 0;
  }
}

.card__link-title {
  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}
