.card-goal {
  padding: 11px 20px 17px;
  background-color: $color-concrete;

  @media (min-width: $tablet) {
    padding: 35px 43px 56px 54px;
  }

  @media (min-width: $desktop) {
    padding: 31px 24px 58px 53px;
  }

  &--gain {
    @media (min-width: $desktop) {
      padding-right: 0;
    }
  }
}

.card-goal__icon {
  margin-left: 11px;

  @media (min-width: $tablet) {
    margin-left: 19px;
  }
}

.card-goal__header {
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    align-items: flex-start;
  }
}

.card-goal__image {
  position: relative;
  margin-right: 19px;

  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    margin-right: 71px;
  }

  @media (min-width: $desktop) {
    position: relative;
    order: 1;
    margin-right: 53px;
    margin-left: 0;
  }

  &--panther {
    min-width: 65px;
    margin-right: 5px;

    @media (min-width: $tablet) {
      margin-right: 66px;
    }

    @media (min-width: $desktop) {
      margin-right: 53px;
    }
  }
}

.card-goal__desc {
  margin: 0 0 18px;
  padding: 10px 0 24px;
  border-bottom: 2px solid $color-alto;

  @media (min-width: $tablet) {
    margin: 0 240px 58px 0;
    padding: 0;
    border: initial;
  }

  @media (min-width: $desktop) {
    margin: 0 0 32px 0;
  }

  &--gain {
    @media (min-width: $tablet) {
      padding-right: 33px;
    }

    @media (min-width: $desktop) {
      margin-right: 32px;
    }
  }
}

.card-goal__title {
  text-align: center;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet) {
    order: 1;
    margin: 45px 0 25px;
    text-align: start;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    order: 2;
    text-align: center;
    margin-bottom: 74px;
  }
}

.card-goal__catalog-link {
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 20px;
    line-height: auto;
  }
}

.card-goal__catalog-link:active {
  opacity: 0.3;
}

.card-goal__svg-circle {
  margin-top: 7px;
  margin-left: 0;
  width: 50px;
  height: 60px;

  @media (min-width: $tablet) {
    margin-top: 38px;
    margin-left: 12px;
    width: 245px;
    height: 245px;
  }

  @media (min-width: $desktop) {
    margin-top: 8px;
    margin-left: -10px;
    width: 117px;
    height: 117px;
  }
}

.card-goal__svg {
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: $tablet) {
    position: absolute;
  }

  &--cat {
    top: 10px;
    left: 8px;

    @media (min-width: $tablet) {
      top: 49px;
      left: 65px;
      min-width: 140px;
    }

    @media (min-width: $desktop) {
      top: 9px;
      left: 13px;
      min-width: 72px;
      min-height: 84px;
    }
  }

  &--panther {
    top: 23px;
    left: -3px;

    @media (min-width: $tablet) {
      top: 103px;
      min-width: 267px;
    }

    @media (min-width: $desktop) {
      top: 35px;
      left: -22px;
      min-width: 135px;
      min-height: 58px;
    }
  }
}
