.card-advantages {
  outline: 3px solid gold;
}

.card-advantages__title {
  margin: 0;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.card-advantages__list {
  margin: 0;
  padding: 0 0 22px 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-gap: 37px 153px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-gap: 37px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
