.card-example {
  position: relative;
  padding: 24px 0 27px;
  background-color: $color-galery;
  border-top: 2px solid $color-mercury;

  @media (min-width: $tablet) {
    padding: 42px 0 0 0;
    background: linear-gradient($color-white, $color-white 57%, $color-galery 57%);
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 0 85px 0 110px;
    background: linear-gradient($color-white 30%, $color-concrete 30%);
    border: transparent;
  }
}

.card-example__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-self: flex-end;
    justify-content: flex-end;
    align-content: baseline;
    margin: 0;
    max-width: 250px;
    padding-top: 8px;
    padding-right: 31px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    grid-column: 1;
    max-width: 100%;
    justify-self: stretch;
    margin-right: 0;
    padding-top: 16px;
    padding-right: 35px;
    text-align: center;
    font-size: 20px;
  }
}

.card-example__price {
  margin: 0;

  &--value {
    @media (min-width: $desktop) {
      margin-left: auto;
    }
  }
}

.card-example__wrapper {
  position: relative;
  padding-bottom: 7px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 53px 0 0 0;
  }

  @media (min-width: $desktop) {
    position: static;
    grid-column: 1/-1;
    padding-top: 30px;
    padding-bottom: 65px;
  }
}

.card-example__list {
  margin: 0;

  @media (min-width: $tablet) {
    margin: 0 0 0 30px;
  }

  @media (min-width: $desktop) {
    grid-column: 1;
    margin: 0;
  }
}

.card-example__slider {
  @media (min-width: $tablet) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    right: 0;
    grid-column: -1/-2;
  }
}

.card-example__title {
  margin: 0 20px 33px;

  @media (min-width: $tablet) {
    margin: 0 30px 65px;
  }

  @media (min-width: $desktop) {
    margin: 70px 30px 147px 0;
  }
}

.card-example__desc {
  margin: 0 18px 29px 20px;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }

  @media (min-width: $desktop) {
    grid-column: 1;
    margin: 0 -3px 14px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
