.card-goal {
  background-color: $color-alto;
}

.card-goal__title {
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.card-goal__catalog-link {
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: auto;
  }
}
