.card-advantages {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
  }
}

.card-advantages__title {
  margin: 0;

  @media (min-width: $tablet) {
    margin-bottom: 5px;
  }
}

.card-advantages__list {
  margin: 0;
  padding: 40px 0 0 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-gap: 37px 60px;
    grid-template-columns: 1fr 1fr;
    padding: 28px 0 0;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 280px);
    grid-gap: 0 45px;
  }
}
