.catalog {
  outline: 3px solid tan;
  padding-top: 27px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__add-title {
  @include title(24px, 24px);
  color: $color-black;
}

.catalog__add-wrapper {
  margin-bottom: 39px;
}
