.catalog {
  padding: 3px 0 0;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 57px 60px;
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
}

.catalog__title {
  margin: 0 0 8px;
  text-align: start;

  @media (min-width: $tablet) {
    grid-column: 1/-1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.catalog__add {
  padding-top: 25px;

  @media (min-width: $tablet) {
    grid-column: 1/-1;
    padding-top: 0;
    border-top: 2px solid $color-apple;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__add-header {
  display: flex;

  @media (min-width: $tablet) {
    max-width: fit-content;
    margin: -24px 0 80px 31px;
    padding: 0 37px;
    background-color: $color-white;
  }

  @media (min-width: $desktop) {
    margin-left: 71px;
    padding: 0 37px;
  }
}

.catalog__add-stripe {
  flex-grow: 1;
  height: 2px;
  margin-top: 15px;
  background-color: $color-apple;

  @media (min-width: $tablet) {
    display: none;
  }
}

.catalog__add-wrapper {
  margin-bottom: 39px;
  padding: 0 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 69px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    flex-basis: 100%;
    margin: 0 80px 0 0;
    padding: 0;
  }
}

.catalog__add-title {
  flex-grow: 0;
  margin: 0 20px 36px;

  @include title(24px, 24px);
  color: $color-black;

  @media (min-width: $tablet) {
    grid-column: 1/-1;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.catalog__add-content {
  @media (min-width: $desktop) {
    display: flex;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.catalog__add-list {
  @media (min-width: $tablet) {
    min-width: 100%;
  }

  @media (min-width: $desktop) {
    flex-grow: 2;
  }
}

.catalog__add-offer {
  min-height: 290px;
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }

  @media (min-width: $desktop) {
    flex-basis: 27%;
    flex-grow: 0;
    margin: 0;
  }
}

.catalog__add-item {
  border-top: 1px solid $color-silver;

  @media (min-width: $tablet) {
    border: 1px solid $color-silver;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    border-top: 1px solid $color-silver;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}

.catalog__add-item:last-child {
  border-bottom: 1px solid $color-silver;
}

.catalog__card {
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.catalog__stock {
  @media (min-width: $tablet) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 60px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 80px;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 0;
  }
}

.catalog__more {
  @media (min-width: $tablet) {
    margin-top: 106px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
    min-width: 245px;
  }
}
