.example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: $tablet) {
    align-items: flex-start;
  }

  @media (min-width: $desktop) {
    justify-content: start;
  }
}

.example__item {
  margin-bottom: 26px;
  max-width: 124px;
  max-height: 64px;

  @media (min-width: $tablet) {
    margin-right: 42px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-bottom: 42px;
  }
}

.example__item:not(:last-child) {
  @media (min-width: $desktop) {
    margin-right: 42px;
  }
}
