.main-nav {
  outline: 3px solid fuchsia;
  display: flex;
}

.main-nav__toggle {
  margin-left: auto;
  max-width: 24px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 694px;
    max-height: 720px;
    padding: 69px 110px 585px 132px;
    background-color: $color-apple-promo;
  }
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__item {
  @media (min-width: $desktop) {
    color: $color-white;
  }
}

.main-nav__item:hover {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

.main-nav__item--current {
  padding-bottom: 8px;
  border-bottom: 2px solid $color-apple-promo;

  @media (min-width: $desktop) {
    border-bottom: 2px solid $color-white;
  }
}
