.main-nav {
  outline: 3px solid fuchsia;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
}
