.more {
  padding: 12px 20px 25px;
  text-align: center;
  border-bottom: 1px solid $color-alto;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: end;
    padding: 12px 38px 0;
    border: 2px solid $color-concrete;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0;
  }
}

.more__vertical-line {
  display: none;
}

.more__horizontal-line {
  display: none;
}

.more__button {
  width: 100%;
  padding: 10px 0;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
  }
}

.more__sign {
  position: relative;
  margin: 0 122px 22px;
  height: 32px;

  @media (min-width: $tablet) {
    margin: 39px 78px 49px;
    height: 60px;
  }

  @media (min-width: $desktop) {
    grid-column: 1/-1;
    margin: 56px 79px 49px;
  }
}

.more__cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;

  @media (min-width: $tablet) {
    width: 60px;
    height: 60px;
  }
}

.more__cross::before,
.more__cross::after {
  content: "";
  position: absolute;
  left: 15px;
  height: 33px;
  width: 2px;
  background-color: $color-alto;

  @media (min-width: $tablet) {
    height: 60px;
  }
}

.more__cross::after {
  transform: rotate(90deg);
}

.more__lead {
  margin: 0 0 20px;
  line-height: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 89px;
  }
}

.more__title {
  margin-bottom: 9px;
}

.more__text {
  @media (min-width: $tablet) {
    max-width: 170px;
    padding: 0;
    margin: auto;
  }

  @media (min-width: $desktop) {
    grid-column: 1/-1;
  }
}
