.offer {
  outline: 3px solid green;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background: url("/img/catalog-bg-gift.png") no-repeat center/cover;
  background-color: $color-apple;
}
