.page-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;

  @media (min-width: $tablet) {
    padding: 24px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 55px 0 0 112px;
    margin: 0 0 45px;
  }
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 17px 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.page-header__main-nav {
  @media (min-width: $desktop) {
    position: static;
    margin-right: 98px;
    margin-bottom: 35px;
    flex-grow: 2;
    z-index: 100;
  }
}

.page-header__logo-simple {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo-dressed {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    min-width: 202px;
    min-height: 59px;
  }
}

.page-header__logo-dressed:hover {
  @media (min-width: $tablet) {
    fill-opacity: 0.8;
  }
}

.page-header__logo-dressed:active {
  @media (min-width: $tablet) {
    fill-opacity: 0.6;
  }
}

.page-header__logo-title {
  display: block;
  margin-top: 13px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo-title:hover {
  fill-opacity: 0.8;
}

.page-header__logo-title:active {
  fill-opacity: 0.6;
}

.page-header__logo {
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    flex-grow: 0;
  }

  @media (min-width: $desktop) {
    flex-grow: 3;
  }
}

.page-header__promo {
  width: 100%;
  margin-bottom: 0;

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}
