.page-footer {
  outline: 3px solid purple;
  padding: 0 20px 0;

  @media (min-width: $tablet) {
    padding: 0 30px 0;
  }

  @media (min-width: $desktop) {
    padding: 0 110px 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $color-concrete;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__item {
  margin: auto;
  padding: 20px 0;

  &--copy {
    margin: 0;
  }

  @media (min-width: $tablet) {
    text-align: center;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
  }
}
