.page-main {
  padding: 0;
}

.page-main__card {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin: 0 30px 23px;
  }

  @media (min-width: $desktop) {
    margin: 0 30px 0 110px;
  }
}

.page-main__goals {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin: 0 30px 46px;
  }

  @media (min-width: $desktop) {
    margin: 0 110px 73px;
  }
}
