.page-main {
  padding: 0;
}

.page-main__card {
  margin: 0 0 35px;

  @media (min-width: $tablet) {
    margin: 0 30px 45px;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    margin: 0 auto 0;
  }
}

.page-main__goals {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin: 0 30px 46px;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    margin: 0 auto 73px;
  }
}
