.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;

  @media (min-width: $tablet) {
    padding: 24px 10px 0;
  }

  @media (min-width: $desktop) {
    padding: 55px 0 0 110px;
    margin: 0;
    background-image: url("/img/promo-background.png");
    background-repeat: no-repeat;
    background-size: 41% 75%;
    background-position: 119% 48%;
  }
}

.page-header__main-nav {
  position: absolute;
  top: 24px;
  right: 20px;

  @media (min-width: $desktop) {
    position: static;
    margin-right: 110px;
    margin-bottom: 35px;
    flex-grow: 2;
    z-index: 100;
  }
}

.page-header__logo-simple {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo-dressed {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    min-width: 202px;
    min-height: 59px;
  }
}

.page-header__logo-dressed:hover {
  @media (min-width: $tablet) {
    fill-opacity: 0.8;
  }
}

.page-header__logo-dressed:active {
  @media (min-width: $tablet) {
    fill-opacity: 0.6;
  }
}

.page-header__logo-title {
  display: block;
  margin-top: 14px;
  margin-right: 90px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo-title:hover {
  fill-opacity: 0.8;
}

.page-header__logo-title:active {
  fill-opacity: 0.6;
}

.page-header__logo {
  flex-grow: 1;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    flex-grow: 0;
  }

  @media (min-width: $desktop) {
    flex-grow: 3;
  }
}

.page-header__promo {
  width: 100%;
  margin-bottom: 0;
}
