.page-footer {
  padding: 0;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 80px;
  }
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 13px 0 50px;
  }
}

.page-footer__item {
  margin: auto;

  &--copy {
    margin: 0;
  }

  @media (min-width: $tablet) {
    text-align: center;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
  }
}

.page-footer__item--logo {
  @media (min-width: $tablet) {
    text-align: start;
    margin: 0 65px 0 0;
    padding: 52px 0 0;
  }
}

.page-footer__item--soc {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  padding: 21px 0 16px;
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-silver;

  @media (min-width: $tablet) {
    margin: 0 30px;
    padding: 50px 0 10px;
    border: none;
  }
}

.page-footer__map {
  text-align: center;
  background-color: $color-concrete;

  @media (min-width: $desktop) {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
}

.page-footer__map-image {
  @media (min-width: $tablet) {
    min-height: 400px;
  }
}

.page-footer__address {
  @media (min-width: $desktop) {
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 102px 0 105px auto;
    max-width: 570px;
    z-index: 10;
    background-color: $color-white;
  }
}

.page-footer__map-iframe {
  border: none;
  width: 100%;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.page-footer__links {
  background-color: $color-concrete;

  @media (min-width: $desktop) {
    grid-column: 1/-1;
  }
}
