.page-title {
  @include title(36px, 36px);
  color: $color-white;

  &--form,
  &--catalog {
    color: $color-black;
  }

  @media (min-width: $tablet) {
    @include title(60px, 60px);
    color: $color-black;
  }
}
