.product-title {
  @include title(16px, 20px);
  text-transform: uppercase;
  color: $color-mine-shaft;

  &--more {
    color: $color-cod-gray;

    @media (min-width: $tablet) {
      margin: 0 0 25px;
      font-size: 20px;
      line-height: 22px;
    }
  }

  &--add {
    @media (min-width: $tablet) {
      font-size: 20px;
    }

    @media (min-width: $desktop) {
      padding: 26px 0;
    }
  }
}
