.promo__wrapper {
  outline: 3px solid pink;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.promo__intro--background {
  background: $color-apple url("/img/promo-background.png") no-repeat center/cover;

  @media (min-width: $tablet) {
    background: transparent;
  }
}

.promo__title {
  padding-top: 27px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $color-white;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }
}

.promo__intro {
  @media (min-width: $desktop) {
    flex-basis: 50%;
  }
}

.promo__image-can {
  @media (min-width: $tablet) {
    flex-basis: 50%;
    order: 2;
  }
}

.promo__button {
  @media (min-width: $tablet) {
    order: 1;
    align-self: flex-start;
  }

  @media (min-width: $desktop) {
    order: 3;
  }
}
