.promo {
  @media (min-width: $desktop) {
    padding-right: 700px;
    padding-left: 80px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 183px;
  }
}

.promo__wrapper-background {
  background-image: url("/img/promo-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 302px;
  background-color: $color-bg-promo;

  @media (min-width: $tablet) {
    background-image: none;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
  }
}

.promo__title {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin: 0 0 40px 0;
  }
}

.promo__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }
}

.promo__intro {
  padding-top: 27px;
  padding-left: 0;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 47px 77px 0 119px;
    text-align: initial;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
    margin: 0 0 9px 0;
    padding: 82px 25px 0 0;
  }

  &--background {
    min-height: 302px;
    background-color: $color-apple-promo;

    @media (min-width: $tablet) {
      background: transparent;
    }
  }
}

.promo__image-can {
  align-self: center;
  margin-top: -135px;
  margin-bottom: 3px;
  max-width: 280px;
  background-color: transparent;

  @media (min-width: $tablet) {
    align-self: stretch;
    order: 2;
    max-width: 624px;
    max-height: 709px;
    margin: -83px 0 0 113px;
    background: transparent;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 508px;
    height: 490px;
    top: 84px;
    left: 300px;
    z-index: -1;
  }
}

.promo__button {
  min-height: 40px;
  margin: 0 20px;

  @media (min-width: $tablet) {
    order: 1;
    margin: -27px 0 0 114px;
    align-self: flex-start;
    opacity: 0.99;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}
