.results {
  position: relative;
  padding: 14px 19px 0;
  text-align: center;
  border-top: 2px solid $color-silver;
  border-right: 2px solid $color-silver;
  border-left: 2px solid $color-silver;
  border-radius: 5px;

  @media (min-width: $tablet) {
    max-width: 162px;
    max-height: 77px;
    padding: 15px 37px 20px;
  }
}

.results + .results {
  @media (min-width: $tablet) {
    padding: 15px 16px 20px;
  }
}

.results__number {
  display: block;
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 37px;
  }
}

.results__desc {
  &::before {
    content: "";
    position: absolute;
    top: 97%;
    left: 0;
    width: 17px;
    background-color: transparent;
    border-top: 2px solid $color-silver;

    @media (min-width: $tablet) {
      width: 6%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 97%;
    right: 0;
    width: 17px;
    background-color: transparent;
    border-top: 2px solid $color-silver;

    @media (min-width: $tablet) {
      width: 6%;
    }
  }
}
