.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 77px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

.slider__range {
  display: flex;
  flex-basis: 100%;
  margin: auto;

  @media (min-width: $desktop) {
    padding-top: 20px;
    justify-content: center;
  }
}

.slider__button {
  flex-grow: 1;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet) {
    position: relative;
    padding: 0 22px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    max-width: fit-content;
    padding: 0;
  }

  &--before {
    text-align: end;

    @media (min-width: $tablet) {
      margin: 0;
    }

    @media (min-width: $desktop) {
      padding-right: 22px;
    }
  }

  &--after {
    text-align: start;

    @media (min-width: $desktop) {
      padding-left: 22px;
      text-align: end;
    }
  }
}

.slider__button--before::after {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    top: 26px;
    right: 24px;
    width: 45px;
    height: 1px;
    border-bottom: 1px dotted $color-silver;
  }
}

.slider__button--after::after {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    top: 26px;
    left: 24px;
    width: 45px;
    height: 1px;
    border-bottom: 1px dotted $color-silver;
  }
}

.slider__image-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 2/3;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.slider__image {
  @media (min-width: $tablet) {
    flex-basis: 50%;
  }
}

.slider__image--before {
  width: 320px;
  height: 232px;
  background-image: url("/img/example-before.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/img/example-before@2x.png");
  }

  @media (min-width: $tablet) {
    width: 432px;
    height: 620px;
    background-image: url("/img/example-before-tablet.png");
    background-position: -20px;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/example-before-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    width: 445px;
    height: 520px;
    background-position: -30px;
    background-image: url("/img/example-before-desktop.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/example-before-desktop@2x.png");
    }
  }
}

.slider__image--after {
  @media (min-width: $tablet) {
    display: block;
    width: 354px;
    height: 620px;
    background: url("/img/example-after-tablet.png") 125% no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("/img/example-after-tablet@2x.png") 125% no-repeat;
    }
  }

  @media (min-width: $desktop) {
    width: 210px;
    height: 536px;
    background: url("/img/example-after-deskop.png") 112% no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/example-after-desktop@2x.png");
    }
  }
}
