.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__button {
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;

  &--before {
    text-align: end;
  }

  &--after {
    text-align: start;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.slider__image {
  flex-basis: 100%;
  margin-bottom: 23px;
}

.slider__input {
  max-width: 84px;

  @media (min-width: $tablet) {
    min-width: 428px;
  }

  @media (min-width: $desktop) {
    min-width: 380px;
  }
}
