.title-style {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  &--loss,
  &--gain {
    @media (min-width: $tablet) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
