.wrapper-bg {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop) {
    position: relative;
    margin-bottom: 82px;
    background: linear-gradient(to right, $color-white 50%, $color-apple-promo 50%), no-repeat url("/img/promo-bg-desktop.png") right/contain, linear-gradient(to right, $color-white 50%, $color-bg-promo 50%);
    z-index: 2;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to right, $color-white 50%, $color-apple-promo 50%), no-repeat url("/img/promo-bg-desktop@2x.png") right/contain, linear-gradient(to right, $color-white 50%, $color-bg-promo 50%);
    }
  }
}
